#post-actions {
  margin-top: 1.5rem;
}

#shared-with-list {
  display: flex;
  flex: 5;
  align-items: center;
  width: 100px;
  max-width: 700px;
  background-color: white;
}

.scrolable-shared-with-list {
  overflow-x: scroll;
}

@media only screen and (min-width: 414px) {
  .scrolable-shared-with-list {
    overflow-x: auto;
  }
}

dt {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 0.1rem;
  margin-right: 0.3rem;
  position: sticky;
  left: 0;
  background-color: inherit;
  white-space: nowrap;
  z-index: 1;
}

#shared-with-chip {
  font-size: 0.7rem;
  width: 4.5rem;
  max-width: 7rem;
  height: 1.8rem;
  margin-left: 0.3rem;
  z-index: 0;
}

@media only screen and (min-width: 514px) {
  .scrolable-shared-with-list {
    overflow-x: auto;
  }

  #shared-with-chip {
    font-size: 0.7rem;
    width: 6rem;
  }
}

.MuiChip-label {
  padding: 0.2rem !important;
}

#shared-with-chip > div {
  height: 25px;
}
